:root {
    --toast-width: 300px; /* Ancho del toast */
}

/* toastStyles.css */
.close-button {
    background-color: transparent !important; /* Color del botón de cerrar */
    border: 2px solid #ffffff40 !important; /* Borde del botón de cerrar */
    border-radius: 100%;
    box-shadow: 0 0 10px #ffffff40 !important; /* Sombra del botón de cerrar */
    color: #ffffff;
    width: 20px !important; /* Ancho del botón de cerrar */
    height: 20px !important; /* Altura del botón de cerrar */
    padding: 15px 15px;
    display: flex; /* Usar flexbox para centrar el contenido */
    align-items: center; /* Alinear verticalmente al centro */
    justify-content: center; /* Alinear horizontalmente al centro */
}

.toast-error {
    background-color: #f062916f !important; /* Nuevo color de fondo para errores */
    color: #ffffff !important; /* Color del texto */
    font-size: 20px !important; /* Tamaño de la fuente */
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #00000033;
    backdrop-filter: blur(20px);
    width: var(--toast-width);
}

.toast-progress-bar-error {
    background: #ffffff !important; /* Color de la barra de progreso para errores */
}

.toast-success {
    background-color: #26c6da6f !important; /* Nuevo color de fondo */
    color: #ffffff !important; /* Color del texto */
    font-size: 20px !important; /* Tamaño de la fuente */
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #00000033;
    backdrop-filter: blur(20px);
    width: var(--toast-width);
}

.toast-progress-bar-success {
    background: #ffffff !important; /* Color de la barra de progreso para éxitos */
}

.toast-alert {
    background-color: #7e57c26f !important; /* Nuevo color de fondo */
    color: #ffffff !important; /* Color del texto */
    font-size: 20px !important; /* Tamaño de la fuente */
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #00000033;
    backdrop-filter: blur(20px);
    width: var(--toast-width);
}

.toast-progress-bar-alert {
    background: #ffffff !important; /* Color de la barra de progreso para éxitos */
}
